body {
    background-image:  linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.8)), url("images/white.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    margin-left: 150px;
    height: 100vh;
   
}

input, button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 6px;
    padding: 5px;
    color: white;
    
    
}
ul {
    margin-left: 200px;
    margin-top: 35px;
}

li {
    display: inline;
    margin: 10px;
    font-size: 20px;
    margin-left: 50px;
}
li a {
    text-decoration: none;
    color: white;
    
}
a:hover{
    background-color: rgba(0,0,0,0.6);
    color: white;
    padding: 10px;

}
a:visited{
    color: blue;
}

header {
    width: 100%;
    color: white;
    background-color: transparent;
    height: 100px;
    
}
img {
    width: 150px;
    height: 60px;
    margin: 20px;
    margin-bottom: -20px;   
}

.div1 {
    display: flex;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    color: grey;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
 }

 @media  only screen and (max-width: 768px) {
    
    body {
        margin-left: 10px;

    }
    body > div#addedExpenses{
        margin-bottom: 100px;
    }
    header {
        height: 70px;
    }
    img {
        width: 80px;
        height: 40px;
        margin-top: 10px;
        margin-left: 5px;
    }
    ul {
       margin-left: -35px;
       margin-top: 20px; 
    }
    li {
        margin: 5px;
        font-size: 14px;
        margin-left: -2px;
    }
    
    }


